.billing-form {
  &__title {
    margin-bottom: 1.5rem;
  }

  &__grid {
    display: grid;
    gap: 1.5rem;
  }

  &__field {
    width: 100%;
  }

  @media (min-width: 600px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__field-full {
      grid-column: span 2;
    }
  }
}