.product-details {
  padding-left: 20%;
  padding-right: 20%;
  background-color: var(--background-color);
 


  &__content {
    padding: 2rem;
  }

  &__header {
    margin-bottom: 2rem;
  }
  
  .product-details__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    .product-details_text {
   
      display: flex;
      flex-direction: column;
      width: 100%;
      p {
        max-width: 100%;
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }

  &__image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  &__price {
    color: var(--primary-color);
    margin-bottom: 2rem;
  }

  &__add-to-cart {
      max-width: 300px;
      padding: 15px;
      background-color: #FF6226;
      border-radius: 5px;
      color: rgb(255, 255, 255);
      font-size: 18px;
border-style: none;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.289);

&:hover {
  background-color: #c54e1f;

}

  }

  &__loading {
    text-align: center;
    padding: 2rem;
  }
}
