.partnersContainer {
    margin-bottom: 100px;
    h2 {
text-align: center;
font-family: "Montserrat", Montserrat;
font-size: 2.2rem;
font-weight: 400;
text-transform: uppercase;
    }
    .partnersLogoTop {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            li {
                list-style: none;
                img {
                    max-height: 120px;
                    max-width: 150px;
                }
            }
        }
    }
    .partnersLogoBottom {
   ul {
    display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            li {
                list-style: none;
                img {
                    max-height: 120px;
                    max-width: 150px;
                }
            }
        }
    }
}