.tentesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .tentesHeader {
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        h2 {
            font-size: 1rem;
        }
    }
.choiceContainer {
  
    display: flex;
    flex-direction: row;

  
        width: 1000px;
        text-align: center;
        .choix1 {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 500px;
            height: 200px;
            background-color: gainsboro;
            padding-bottom: 20px;
            button {
                width: 200px;
                height: 50px;
                font-size: 1.2rem;
                background-color: black;
                color: white;
                border: none;
                &:hover {
                    background-color: #FF6226;
                    color: black;
                   }
            }
           
        }
        .choix2 {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: black;
            color: white;
            width: 500px;
            padding-bottom: 20px;
            button {
                width: 200px;
                height: 50px;
                font-size: 1.2rem;
                background-color: white;
                color: black;
                border: none;
                &:hover {
                    background-color: #FF6226;
                    color: black;
                   }
            }
        }

    
    }
    .sectionCard {
     
        display: flex;
        flex-direction: column;
        .tenteCardContainer {
            display: flex;
            flex-direction: row;
            gap: 20px;
          
            .tenteCard {
            background-color: rgb(232, 232, 232);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.257);
            h4 {
                background-color: black;
                text-align: center;
                color: white;
                width: 100%;
                padding: 10px;
                margin: 0;
                font-size: 1.5rem;
                font-weight: 300;
               
            }
            img {
                height: 150px;
        
            }
            ul {
                list-style: none;
             
                li {
                    width: 80%;
                    text-align: center;
                    border-bottom: 1px solid black;
                    margin-top: 5px;
                    padding-bottom: 5px;
                }
            }
            button {
                font-size: 18px;
                margin-bottom: 20px;
                transition: all 0.2s ease;
               &:hover {
                background-color: #FF6226;
                color: black;
               }
                
            }
            }
        }
    }
}