// scss admin panel //
@use "../components/admin/ordersTab/OrdersTab";

//font import //
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
// .home {
// Global styles
:root {
  --primary-color: #ff6b00;
  --secondary-color: #000000;
  --background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}
.MuiContainer-root {
  max-width: 100% !important;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: (#ff6b00);
  }
}
