.pack-details {
  padding: 2rem 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
  }
  .pack__section {
    width: 100%;
  }
  &__header {
    margin-bottom: 2rem;
  }
  .pack-details__title {
    font-size: 2.5rem;
  }
  .pack-details__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  &__image {
    width: 400px;
    max-height: 400px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  &__description {
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  &__discount {
    color: var(--primary-color);
    margin-bottom: 2rem;
  }

  &__add-to-cart {
    margin-top: 2rem;
  }

  &__loading {
    text-align: center;
    padding: 2rem;
  }
}
