.sectionContainerTentesPliantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;

  li {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .tentesHeader {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
  }
  .carrouselContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    position: relative;

    .carrousel {
      position: relative;
      width: 1400px;
      height: 600px;

      .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      img {
        display: block;
        width: 100%;
        height: 600px;
        object-fit: cover;
      }

      .carrousel-buttons {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 10;
      }

      .carrousel-button {
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        color: orangered;
        font-size: 2rem;
        cursor: pointer;
        padding: 10px;
        z-index: 2;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }

    .asideContainer {
      padding: 50px;
      width: 50%;
      height: 600px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.3rem;

      h3 {
        margin-bottom: 20px;
        color: #ff6226;
        font-size: 2.3rem;
      }

      ul {
        font-size: 18px;
        list-style: disc;
        text-align: left;
        padding: 0;

        li {
          color: black;
          margin: 10px 0;
          list-style: none;
        }
      }
    }
  }

  .content-section {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;

    .section-title {
      text-align: center;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      color: #fe6100;
      font-weight: 600;
    }

    .section-subtitle {
      color: #fe6100;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }

    .dimensions-content,
    .options-content,
    .conditions-content,
    .conseils-content {
      h4 {
        color: #fe6100;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 2.3rem;
      }

      p.footer-note {
        margin-top: 20px;
        font-style: italic;
      }
    }

    .tabs-container {
      width: 100%;
      margin-top: 1rem;

      .tabs-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      }

      .tab-panel {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  .carrouselContainer2 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2.3rem;
      color: #ff6226;
    }

    .carrousel2 {
      position: relative;
      width: 1400px;
      height: auto;
      margin: 0 auto;

      .carrousel-buttons {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 10;
      }

      .carrousel-slides {
        display: flex;
        gap: 20px;
        width: 100%;
        height: auto;

        .slide {
          text-align: center;
          width: calc(50% - 10px);

          img {
            width: 100%;
            height: auto;
            border-radius: 5px;
          }

          .image-caption {
            margin-top: 10px;
            font-size: 1rem;
            color: #333;
            text-align: center;
          }
        }
      }

      .carrousel-button {
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        color: orangered;
        font-size: 2rem;
        cursor: pointer;
        padding: 10px;
        z-index: 2;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }

  .bottomContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;

      h3 {
        color: orangered;
        font-size: 2.3rem;
      }

      &.dark-section {
        background-color: #000000;
        color: #ffffff;
        padding: 30px;
        border-radius: 8px;

        h3 {
          color: #ffffff;
          font-size: 2.3rem;
        }

        li {
          color: white;
          list-style: none;
        }
      }
    }

    .choiceContainer {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      width: 1000px;
      text-align: center;

      .choix1,
      .choix2 {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        padding-bottom: 20px;

        button {
          width: 200px;
          height: 50px;
          font-size: 1.2rem;
          background-color: #ff6226;
          color: white;
          border: none;

          &:hover {
            background-color: #ff6226;
            color: black;
          }
        }
      }

      .choix1 {
        background-color: rgb(233, 233, 233);
      }

      .choix2 {
        background-color: rgb(255, 228, 207);
        color: white;
      }
    }
  }
}

@media (max-width: 1440px) {
  .sectionContainerTentesPliantes {
    .carrouselContainer {
      .carrousel {
        width: 100%;
        height: auto;

        img {
          height: auto;
        }
      }
    }

    .carrouselContainer2 {
      .carrousel2 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {
  .sectionContainerTentesPliantes {
    .carrouselContainer {
      flex-direction: column;

      .carrousel {
        width: 100%;
      }

      .asideContainer {
        width: 100%;
        height: auto;
        padding: 30px;
      }
    }

    .carrouselContainer2 {
      .carrousel2 {
        width: 100%;
      }
    }

    .bottomContainer {
      .choiceContainer {
        width: 100%;
        flex-direction: column;

        .choix1,
        .choix2 {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sectionContainerTentesPliantes {
    .content-section {
      padding: 15px;

      .section-title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      .tabs-container {
        .tabs-header {
          .section-subtitle {
            font-size: 1rem;
          }
        }
      }
    }

    .carrouselContainer2 {
      .carrousel2 {
        .carrousel-slides {
          .mobile-hidden {
            display: none;
          }

          .slide {
            width: 100%;
          }
        }
      }
    }

    li {
      font-size: 1rem;
    }

    .tentesHeader {
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1rem;
      }
    }

    .asideContainer {
      h3 {
        font-size: 1.8rem !important;
      }
      li {
        font-size: 1rem !important;
      }
    }
  }
}
