.evenementsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
}
.evenementsContainer h2 {
  font-family: "Montserrat", Montserrat;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.evenementsContainer .evenementsCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.evenementsContainer .evenementsCardContainer .card1 {
  background-image: url("/img/galery/Decoration.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  align-items: center;
}
.evenementsContainer .evenementsCardContainer .card1 .backgroundFilter {
  background-color: rgba(0, 0, 0, 0.3411764706);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evenementsContainer .evenementsCardContainer .card1 hr {
  border: 1px solid white;
  width: 30%;
}
.evenementsContainer .evenementsCardContainer .card1 h3 {
  color: white;
  font-family: "Montserrat", Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  line-height: 1.2em;
}
.evenementsContainer .evenementsCardContainer .card1 .itemContainer {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", Montserrat;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
  line-height: 1.2em;
}
.evenementsContainer .evenementsCardContainer .card1 .itemContainer .leftItem ul {
  list-style: none;
  text-align: center;
}
.evenementsContainer .evenementsCardContainer .card1 .itemContainer .leftItem ul li {
  margin-bottom: 20px;
  text-shadow: #000000 0px 0px 5px 4px;
}
.evenementsContainer .evenementsCardContainer .card1 .itemContainer .rightItem ul {
  list-style: none;
  text-align: center;
}
.evenementsContainer .evenementsCardContainer .card1 .itemContainer .rightItem ul li {
  margin-bottom: 20px;
  text-shadow: #000000 0px 0px 5px 4px;
}
.evenementsContainer .evenementsCardContainer .card2 {
  background-image: url("/img/galery/tentes.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.evenementsContainer .evenementsCardContainer .card2 .backgroundFilter {
  background-color: rgba(0, 0, 0, 0.3411764706);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evenementsContainer .evenementsCardContainer .card2 hr {
  border: 1px solid white;
  width: 30%;
}
.evenementsContainer .evenementsCardContainer .card2 h3 {
  color: white;
  font-family: "Montserrat", Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  line-height: 1.2em;
}
.evenementsContainer .evenementsCardContainer .card2 .itemContainer {
  font-family: "Montserrat", Montserrat;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
}
.evenementsContainer .evenementsCardContainer .card2 .itemContainer .leftItem ul {
  list-style: none;
  text-align: center;
}
.evenementsContainer .evenementsCardContainer .card2 .itemContainer .leftItem ul li {
  margin-bottom: 20px;
  text-shadow: #000000 0px 0px 5px 4px;
}
.evenementsContainer .evenementsCardContainer .card2 .itemContainer .rightItem ul {
  list-style: none;
  text-align: center;
}
.evenementsContainer .evenementsCardContainer .card2 .itemContainer .rightItem ul li {
  margin-bottom: 20px;
  text-shadow: #000000 0px 0px 5px 4px;
}
.evenementsContainer .evenementsCardContainer .card3 {
  background-image: url("/img/galery/Sonorisation.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.evenementsContainer .evenementsCardContainer .card3 .backgroundFilter {
  background-color: rgba(0, 0, 0, 0.3411764706);
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evenementsContainer .evenementsCardContainer .card3 hr {
  border: 1px solid white;
  width: 30%;
}
.evenementsContainer .evenementsCardContainer .card3 h3 {
  color: white;
  font-family: "Montserrat", Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  line-height: 1.2em;
}
.evenementsContainer .evenementsCardContainer .card3 .itemContainer {
  font-family: "Montserrat", Montserrat;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: row;
}
.evenementsContainer .evenementsCardContainer .card3 .itemContainer .leftItem ul {
  list-style: none;
  text-align: center;
}
.evenementsContainer .evenementsCardContainer .card3 .itemContainer .leftItem ul li {
  margin-bottom: 20px;
  text-shadow: #000000 0px 0px 5px 4px;
}
.evenementsContainer .evenementsCardContainer .card3 .itemContainer .rightItem ul {
  list-style: none;
  text-align: center;
}
.evenementsContainer .evenementsCardContainer .card3 .itemContainer .rightItem ul li {
  margin-bottom: 20px;
  text-shadow: #000000 0px 0px 5px 4px;
}

@media screen and (max-width: 550px) {
  .evenementsContainer h2 {
    font-size: 30px;
  }
  .evenementsContainer .evenementsCardContainer .card1 h3 {
    font-size: 20px;
    text-align: center;
  }
  .evenementsContainer .evenementsCardContainer .card1 .itemContainer .leftItem ul li {
    font-size: 13px;
    text-align: left;
  }
  .evenementsContainer .evenementsCardContainer .card1 .itemContainer .rightItem ul li {
    font-size: 13px;
    text-align: left;
  }
  .evenementsContainer .evenementsCardContainer .card2 h3 {
    font-size: 20px;
    text-align: center;
  }
  .evenementsContainer .evenementsCardContainer .card2 .itemContainer .leftItem ul li {
    font-size: 13px;
    text-align: left;
  }
  .evenementsContainer .evenementsCardContainer .card2 .itemContainer .rightItem ul li {
    font-size: 13px;
    text-align: left;
  }
  .evenementsContainer .evenementsCardContainer .card3 h3 {
    font-size: 20px;
    text-align: center;
  }
  .evenementsContainer .evenementsCardContainer .card3 .itemContainer .leftItem ul li {
    font-size: 13px;
    text-align: left;
  }
  .evenementsContainer .evenementsCardContainer .card3 .itemContainer .rightItem ul li {
    font-size: 13px;
    text-align: left;
  }
}/*# sourceMappingURL=evenements.module.css.map */