.evenementsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
    h2 {
        font-family: "Montserrat", Montserrat;
        font-size: 2.2rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    .evenementsCardContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
        .card1 {
            background-image: url('/img/galery/Decoration.png');
         
            background-size: cover;
            background-position: center;
           
            width: 100%;
           
            align-items: center;
   .backgroundFilter {
    background-color: #00000057;
    width: 100%;
    height: 100%;
    padding-top: 50px;
           padding-bottom: 50px;
           display: flex;
           flex-direction: column;
           align-items: center;
   }
   hr {
                
    border: 1px solid  white;
    width: 30%;
   }
            h3 {
                color: white;
                font-family: "Montserrat", Montserrat;
                font-weight: 600;
                text-transform: uppercase;
                text-shadow: 2px 2px 4px #000000;
                font-size: 30px;
      line-height: 1.2em;
            }
        
            .itemContainer {
            
             color: white;
                display: flex;
                flex-direction: row;
                font-family: "Montserrat", Montserrat;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: 2px 2px 4px #000000;
                font-size: 18px;
      line-height: 1.2em;
                .leftItem {
                    ul {
                        list-style: none;
                        text-align: center;
                        li {
                            margin-bottom: 20px;
                            text-shadow: #000000 0px 0px 5px 4px;
                        }
                        
                    }

                }
                .rightItem {
                    ul {
                        list-style: none;
                        text-align: center;
                        li {
                            margin-bottom: 20px;
                            text-shadow: #000000 0px 0px 5px 4px;
                        }
                    }
                }
            }
        }
        .card2 {
            background-image: url('/img/galery/tentes.png');
            
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            .backgroundFilter {
                background-color: #00000057;
                width: 100%;
                height: 100%;
                padding-top: 50px;
                       padding-bottom: 50px;
                       display: flex;
                       flex-direction: column;
                       align-items: center;
               }
               hr {
                
                border: 1px solid  white;
                width: 30%;
               }
            h3 {
                color: white;
                font-family: "Montserrat", Montserrat;
                font-weight: 600;
                text-transform: uppercase;
                text-shadow: 2px 2px 4px #000000;
                font-size: 30px;
      line-height: 1.2em;
            }
            .itemContainer {
                font-family: "Montserrat", Montserrat;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: 2px 2px 4px #000000;
                font-size: 18px;
                color: white;
                   display: flex;
                   flex-direction: row;
                   
                   .leftItem {
                       ul {
                           list-style: none;
                           text-align: center;
                           li {
                            margin-bottom: 20px;
                            text-shadow: #000000 0px 0px 5px 4px;
                        }
                       }
   
                   }
                   .rightItem {
                       ul {
                           list-style: none;
                           text-align: center;
                           li {
                            margin-bottom: 20px;
                            text-shadow: #000000 0px 0px 5px 4px;
                        }
                       }
                   }
               }
        }
        .card3 {
            background-image: url('/img/galery/Sonorisation.png');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        
            .backgroundFilter {
                background-color: #00000057;
                width: 100%;
                height: 100%;
                padding-top: 50px;
                       padding-bottom: 50px;
                       display: flex;
                       flex-direction: column;
                       align-items: center;
               }
               hr {
                
                border: 1px solid  white;
                width: 30%;
               }
            h3 {
                color: white;
                font-family: "Montserrat", Montserrat;
                font-weight: 600;
                text-transform: uppercase;
                text-shadow: 2px 2px 4px #000000;
                font-size: 30px;
      line-height: 1.2em;
            }
            .itemContainer {
                font-family: "Montserrat", Montserrat;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: 2px 2px 4px #000000;
                font-size: 18px;
                color: white;
                   display: flex;
                   flex-direction: row;
                   
                   .leftItem {
                       ul {
                           list-style: none;
                           text-align: center;
                           li {
                            margin-bottom: 20px;
                            text-shadow: #000000 0px 0px 5px 4px;
                         
                        }
                       }
   
                   }
                   .rightItem {
                       ul {
                           list-style: none;
                           text-align: center;
                           li {
                            margin-bottom: 20px;
                            text-shadow: #000000 0px 0px 5px 4px;
                        }
                       }
                   }
               }
        }
    }
}



@media screen and (max-width: 550px) {

    .evenementsContainer {

    h2 {
        font-size: 30px;
      
    }
    .evenementsCardContainer {
       
        .card1 {
          
   .backgroundFilter {
   
   }
   hr {
                
 
   }
            h3 {
                font-size: 20px;
                text-align: center;
            }
        
            .itemContainer {
            
           
                .leftItem {
                    ul {
                     
                        li {
                        font-size: 13px;
                        text-align: left;
                        }
                        
                    }

                }
                .rightItem {
                    ul {
                    
                        li {
                            font-size: 13px;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .card2 {
           
            .backgroundFilter {
              
               }
               hr {
             
               }
            h3 {
                font-size: 20px;
                text-align: center;
            }
            .itemContainer {
             
                   
                   .leftItem {
                       ul {
                    
                           li {
                            font-size: 13px;
                            text-align: left;
                        }
                       }
   
                   }
                   .rightItem {
                       ul {
                  
                           li {
                            font-size: 13px;
                            text-align: left;
                        }
                       }
                   }
               }
        }
        .card3 {
         
        
            .backgroundFilter {
             
               }
               hr {
                
              
               }
            h3 {
                font-size: 20px;
                text-align: center;
            }
            .itemContainer {
            
                   
                   .leftItem {
                       ul {
                   
                           li {
                            font-size: 13px;
                            text-align: left;
                        }
                       }
   
                   }
                   .rightItem {
                       ul {
                     
                           li {
                            font-size: 13px;
                            text-align: left;
                        }
                       }
                   }
               }
        }
    }
}

}